body {
    margin-bottom: 70px;
}

.img-circle {
	border: 1px solid rgba(221, 219, 219, 0.8);
	max-height: 275px;
	margin-top: 10px;
    left: 0px;
    border-radius: 50%;
}

.inset-shadow {
    position: absolute;
	top: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5) inset;
	border-radius: 50%;
	z-index: 10;
	transition: box-shadow 0.3s ease-in-out 0s;
    width: 187px;
    height: 275px;
}

.inset-shadow:hover {
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5) inset;
}

blockquote {
	border: 0;
}

.quote {
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid rgba(221, 219, 219, 0.5);
	border-left: 0;
	border-right: 0;
	color: #FFF;
}

.container-fluid h4 {
    font-family: allura;
    font-size: 28px;
}

#round-date {
	left: 50px;
    margin: 4px 29px 6px 0px;
    float: left;
    width: 67px;
    height: 67px;
    background: none repeat scroll 0% 0% #F9F9F9;
    border: 2px solid rgb(71, 71, 78); /*#81B703*/
    border-radius: 50%;
    padding-top: 18px;
    text-align: center;
    font-size: 12px;
    color: rgb(71, 71, 78); /*#80B600*/	
    line-height: 16px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}

#dayOfMonth {
	font-size: 19px;
}

#author {
	font-style: italic;
    margin-left: 30px;
}

.code {
	padding: 0;
	margin-top: 20px;
	overflow-x: hidden;
}

#code {
	width: 100%;
	min-width: 1200px;
}

address {
	color: white;
	display: block;
	padding-left: 20px;
	font-size: 1.1em;
}

.footer {
    position: fixed;
}

/* 767px - sm to xs */
@media (max-width: 767px) {
    #code {
        display: none;
    }

}
