
body {
	padding-top: 60px;
	background-color: #EEE;
	background: url("../image/city-landscape.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

p {
	color: #FFF;
	margin-top: 20px;
}

#name {
	font-family: allura;
	font-size: 30px;
}

.footer {
    position: relative; /* fixed */
    bottom: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(218, 218, 218, .9); /* #DDD*/
    border-top: 2px solid rgba(46, 46, 46, 0.75);
    padding: 10px 0px;
    margin-top: 20px;
}

#copyright {
	position: absolute;
	bottom: 0%;
	right: 0px;
	text-align: right;
}

#date {
	position: absolute;
	bottom: 0%;
	left: 10px;
}

.descript_text {
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid rgba(221, 219, 219, 0.5);
	border-radius: 10px;
	margin-top: 15px;
}

.descript_text h1 {
	color: rgba(0, 0, 0, 0.4);
	text-shadow: 0 -1px 0 #FFF;
	margin-top: -30px;
	padding-top: 55px;
}

/* Quote of the day 
dl dt {
	color: #FFF;
}*/

/* Hide the date and copyright when screen size is small enough */
@media only screen and (max-width: 1092px) {
    #date {
        display: none;
    }
    #copyright {
    	display: none;
    }
}

/* 991px - md to sm */
@media only screen and (max-width: 991px) {
	#name {
		font-size: 24px;
	}
	#title {
		display: none;
	}
}

/* Name in the navbar */
@font-face {
	font-family: allura;
	src: url("../fonts/Allura-Regular.ttf");
}
