
/* TODO: Format line under heading h1 */

.main {
	padding-top: 0px;
	padding-bottom: 100px;
}

.page-header {
	padding-top: 60px;
	margin-top: -60px;
}

#nav_affix {
	width: inherit; /*helps keep the content the same size on fluid layouts*/
	min-width: 300px;
	position: fixed;
	top: 77px;
  	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid rgba(221, 219, 219, 0.5);
	border-top: none;
	border-bottom: none;
}

.current {
	left: 20px;
	border-left: 3px solid #EEE;
	color: white;
	font-weight: bold;
	position: fixed;
}

h1 a {
	color: rgba(0, 0, 0, 0.4);
}

h1 a:hover, h1 a:focus {
	text-decoration: none;
	text-shadow: none;
	color: #428bca;
}

h1 a:active {
	color: rgba(0, 0, 0, 0.4);
}

kbd {
	background-color: #BBB;
	color: #000;
}

ul span {
	position: relative;
}

.project {
	margin-bottom: 35px;
}