/* @import "variables.scss"; */

/* css-loader's module loading requires global classes to be prefixed by :global */
/* Menu drawer wrapper */
:global .burger-menu-wrapper {
  width: 60% !important;
  min-width: 140px;
  max-width: 300px;
}

/* Position and sizing of burger button */
:global .bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
:global .bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
:global .bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
:global .bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
:global .bm-menu {
  background: #373a47;
  padding: 25% 1.5em 0.8em;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
:global .bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
:global .bm-item-list {
  /*display: flex;*/
  justify-content: center;
  /*color: #b8b7ad;*/
  /*margin: 0 0.8em;*/
}

/* Styling of overlay */
:global .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.link {
  text-align: center;
  /* color: $white; */
}
/* 
.ownName {
    composes: link;
    font-family: allura;
    text-decoration: none;
    font-size: 1.5em;    
} */
