@import '~normalize.css';
// @import "~flexboxgrid";

// Import global styling here. The majority of styling is consumed locally in a
// component by using css-loader's module loading.
// @import "burger-menu.scss";
// @import "variables.scss";

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // line-height: 1.4em;
  min-width: 230px;
  color: #4d4d4d;
  // background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

// css-loader's module loading requires global classes to be prefixed by :global
html,
body {
  height: 100%;
}
