<div class="row">
    <div class="col-md-6">
        <img data-ng-repeat="image in persons[count-1].images" data-ng-src="{{image.src}}" data-ng-class="{'img-small': image.width=='282', 'img-large': image.width=='585'}" alt="{{image.alt}}">
    </div>
    <div class="col-md-6" data-ng-class="{'animation': !loading}">
        <h1>{{persons[count-1].name}}</h1>
        <h3>{{persons[count-1].occupation}}</h3>
        <p data-ng-repeat="description in persons[count-1].descriptions">{{description.text}}</p> 
    </div>
</div>
